<h1>修改</h1>
<%= form_for @shop do |form| %>
<div>
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>
<div>
  <%= form.label :tel %>
  <%= form.text_field :tel %>
</div>
<div>
  <%= form.label :address %>
  <%= form.text_field :address %>
</div>
<%= form.submit %>
<% end %>