<%= link_to "商店", new_shop_path%>
<table>
  <tr>
    <td>title</td>
    <td>tel</td>
    <td>address</td>
    <td>tag</td>
  </tr>
  <% @shops.each do |shop| %>
<tr>
  <td ><%= link_to shop.title, shop %></td>
  <td ><%= shop.tel %></td>
  <td ><%= shop.address %></td>
  <td ><%= shop.tag_list %></td>
  <td ><%= link_to "修改", edit_shop_path(shop, state: "active") %></td>
  <td ><%= link_to "刪除", shop_path(shop), method: "delete", data:{confirm: "確定嗎"} %></td>
</tr>
  <% end %>
</table>


<%= form_with(url: shops_path, method: :get )do |form|%>
    <%= form.text_field :search, placeholder: "請輸入餐廳名稱" %>
    <%= form.submit "搜尋", name: nil %>
<% end %>

