<h1>新增商店</h1>
<%= form_with(model: @shop, url:  shops_path(@shop)) do |form| %>
<div>
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>
<div>
  <%= form.label :tel %>
  <%= form.text_field :tel %>
</div>
<div>
  <%= form.label :address %>
  <%= form.text_field :address %>
</div>
<div>
  <%= form.label :tag %>
  <%= form.text_field :tag_list %>
</div>

<%= form.submit %>
  
<% end %>

<script>
  $(document).on('turbolinks:load', function () {
    $("#shop_tag_items").select2({
      tags: true,
      tokenSeparators: [',', ' ']
    })
  });
</script>